.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin-right: 2px;
  margin-left: 2px;

  button {
    flex-shrink: 0;
    font-size: 24px;
    width: 50px;
    height: 100%;
    color: white;
    background: rgb(187, 89, 183);
    border: none;
    cursor: pointer;

    &#addButton {
      border-radius: 0 12px 12px 0;
    }

    &#removeButton {
      border-radius: 12px 0 0 12px;
    }

    &:hover {
      color: lightgray;
      background: rgb(187, 89, 183, 0.9);
    }

    &:disabled {
      background-color: rgb(187, 89, 183, 0.2);
      color: gray;
      cursor: not-allowed;
    }
  }

  .track-image {
    border-radius: 12px;
    margin: 10px;
  }

  .track-information {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
      margin: 0;
      font-size: 20px;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }
    }

    p {
      margin: 4px;
      color: lightgray;
    }
  }
}
