.auth-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.login-button {
    background-color: #1db954;

    &:hover {
      background-color: #1ed760;
    }
  }

  &.logout-button {
    background-color: #e63946;

    &:hover {
      background-color: #d62839;
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  .spotify-logo {
    height: 30px;
    width: 30px;
    margin-right: 8px;
    vertical-align: middle;
  }
}
