.auth-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s ease;

  &.login-button {
    background-color: rgba(29, 185, 84, 0.7);

    &:hover {
      background-color: rgba(30, 215, 96, 0.7);
      box-shadow: 0 0 10px rgba(30, 215, 96, 0.7);
    }
  }

  &.logout-button {
    background-color: rgba(230, 57, 70, 0.7);

    &:hover {
      background-color: rgba(214, 40, 57, 0.7);
      box-shadow: 0 0 10px rgba(214, 40, 57, 0.7);
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  .spotify-logo {
    height: 30px;
    width: 30px;
    margin-right: 8px;
    vertical-align: middle;
  }
}
