.navBar {
  background-color: #282c34;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0;

  #nav-left {
    flex: 1;
    min-width: 0;
  }

  #nav-center {
    flex: 1;
    text-align: center;
    min-width: 0;
  }

  #nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    min-width: 0;
  }

  #title {
    margin-bottom: 0;
    margin-top: 20px;
    font: bold 3.2em 'comic sans ms', 'sans-serif';
  }

  #subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    color: darkgray;
    font-style: italic;
    font-family: 'comic sans ms', 'sans-serif';
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-container {
  width: 90vw;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  gap: 20px;
  margin-top: 20px;

  @media screen and (max-width: 1000px) {
    width: 95vw;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
  }
}

.blur-background {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);

  &.highlighted {
    box-shadow: 0 0 1px rgba(235, 106, 255, 0.5);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 4px rgba(235, 106, 255, 0.7);
    }
  }
}
