#searchBarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 30px;

  input {
    border-radius: 24px 0 0 24px;
    border: none;
    font-size: 16px;
    height: 60px;
    margin-right: 0;
    padding: 0 15px;
    width: 300px;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: #646cff;
    border-radius: 0 24px 24px 0;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 60px;
    margin-left: 0;
    padding: 10px 15px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #535bf2;
    }
  }
}