.playlist {
  padding: 15px;
  border-radius: 12px;

  .title-input {
    border-radius: 12px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 0;
    transition: 0.2s ease;
    
    &:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(235, 106, 255, 0.7);
    }
    &:hover {
      box-shadow: 0 0 4px rgba(235, 106, 255, 0.7);
    }
  }

  .save-button {
    background-color: rgb(187, 89, 183);
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 10px rgba(235, 106, 255, 0.7);
    }

    &:disabled {
      background-color: rgb(60, 60, 102);
      color: gray;
      cursor: not-allowed;
    }
  }

  .error-message {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;

    p {
      margin: 0;
      color: white;
      text-align: center;
    }
  }

  .success-message {
    background-color: rgb(61, 140, 64, 0.6);
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;

    p {
      margin: 0;
      color: white;
      text-align: center;
    }
  }
}
